<div class="row">
    <div class="col-md-9 mx-auto">
        <div class="custom-card py-4 py-lg-5">
            <h2 class="text-center font-weight-light">Two easy steps</h2><br>
            <div class="d-flex py-2 align-items-center">
                <span>
                    <i class="green far fa-address-card mr-3"></i>
                </span>

                <p class="my-auto">Securely verify your identity with our trusted ID verification partner Yoti.</p>
            </div>
            <br>
            <div class="d-flex py-2 align-items-center">
                <span>
                    <i class="green fas fa-dollar-sign mr-3"></i>
                </span>
                <p class="my-auto">Authorize the sale of at least 8 of your Kwan at auction. </p>
            </div>
            <div class="text-center pt-5 pb-3">
                <div class="btn px-5 py-3 btn-success text-white mb-3">Get my Kwan!</div>
            </div>
        </div>
    </div>
</div>