<div class="row">
    <div class="col-md-9 mx-auto">
        <div class="custom-card py-4 py-lg-5 px-3 px-lg-5">
            <h2 class="text-center font-weight-light">Get your Kwan!</h2><br>
            <h4 class="text-center font-weight-light">Alice Roberts has nominated you to receive 100 Kwan in your own name.</h4>
            <br>
            <p class="lead font-weight-bold">What are Kwan?</p>
            <p>Kwan are non-fungible tokens (or NFTs for short) that are linked to your name and identity. Each of your NFTs will be unique with its own serial number.</p>
            <p>Owning Kwan is a great way to show support and proudly display your connections to others.</p>
            <div class="text-center pt-5 pb-3">
                <div class="btn px-5 py-3 btn-success text-white mb-3">Get my Kwan!</div>
            </div>
        </div>
    </div>
</div>